<header>
  <nav class="navbar">
    <button style="color: white;" class="burger" (click)="toggleMenu()">&#9776;</button>

    <div [class.active]="menuOpen" class="nav-sections">
      <div routerLink="/home" class="logo" style="cursor: pointer;">
        <img
          src="https://pngimg.com/d/falcon_PNG13.png"
          alt="Logo"
        />
      </div>

      <div class="text-side">
        <ul class="nav-left">
          <li><a routerLink="/home">მთავარი</a></li>
          <li><a routerLink="/about">ჩვენს შესახებ</a></li>
        </ul>

        <ul class="nav-right">
          <li><a routerLink="/shop">პროდუქცია</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
