<header>
  <nav class="navbar">
    <button style="color: wheat;" class="burger" (click)="toggleMenu()">&#9776;</button>

    <div [class.active]="menuOpen" class="nav-sections">
      <div routerLink="/home" class="logo" style="cursor: pointer;">
        <img
          src="https://scontent.ftbs5-3.fna.fbcdn.net/v/t1.15752-9/518127447_704018642515056_5946360379765340521_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_ohc=uw04uWPZ-mwQ7kNvwE-seTD&_nc_oc=AdnlLKylzZb9vxk9xEkP_mhuAaC0zydeqWE6PiGN-iUApePAIKQJpbeCR_t-t7E3AIc&_nc_zt=23&_nc_ht=scontent.ftbs5-3.fna&oh=03_Q7cD2wFpoAjKRBE7gUztVvxPWoyVMwcLt7GFTElAPNeHdL9XEw&oe=68985074">
      </div>
      <div class="text-side">  
        <ul class="nav-left">
          <li><a routerLink="/home">მთავარი</a></li>
          <li><a routerLink="/about">ჩვენს შესახებ</a></li>
          <!-- <li><a routerLink="/contact">ისტორია</a></li> -->
        </ul>
        <ul class="nav-right">
          <li><a routerLink="/shop">პროდუქცია</a></li>
          <li><a>კონტაქტი</a></li>
          <!-- <li><a>კალათა</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
