footer{
      width: 100%;
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: 	#FFC107;
      .tag{
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 80%;
            p{
                  margin: 0;
                  padding: 0;
            }
      }
}