<footer class="footer">
  <div class="footer-wrapper">

    <div class="footer-brand">
      <h2>🍷 Giorgashvilebis Marani</h2>
      <p>ტრადიციული კახური ღვინო სიყვარულით და ბუნებით.</p>
    </div>

    <div class="footer-columns">
      <div class="footer-col">
        <h4>ნავიგაცია</h4>
        <ul>
          <li><a href="#">მთავარი</a></li>
          <li><a href="#">ჩვენ შესახებ</a></li>
          <li><a href="#">პროდუქცია</a></li>
          <li><a href="#">კონტაქტი</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>საკონტაქტო</h4>
        <ul>
          <li><i class="fa-solid fa-phone"></i> +995 599 123 456</li>
          <li><i class="fa-solid fa-envelope"></i> infogmarani.ge</li>
          <li><i class="fa-solid fa-location-dot"></i> კახეთი, საქართველო</li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>გამოგვყევი</h4>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Giorgashvilebis Marani • All Right Served</p>
  </div>
</footer>
