main {
      width: 100%;
      height: 35vh;
      background-image: url('https://www.tchotiashvili.com/media/img_14.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      

}