<article class="smoothOperator">
      <div class="left-main">

            <div class="left">

            </div>
      </div>

      <div class="right-main">
            <div class="right">

                  <p class="p" style=" font-size: 25px; font-family: 'Courier New', Courier, monospace;"> Lorem ipsum
                        dolor sit, amet consectetur adipisicing elit. Ullam nostrum, itaque ipsum optio facilis sed
                        consequuntur, quae saepe eveniet hic est vero natus cum rem nulla id. , ipsum dolor.0 Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Et eligendi earum in dolore quis! Quod
                        nesciunt quis ut magnam neque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt
                        ullam dicta omnis reiciendis laudantium ipsum ab illum, blanditiis, a possimus dolores molestiae
                        quisquam officiis repudiandae praesentium, ea dignissimos similique. Eaque officia voluptatem
                        nisi! A nihil dolore quam. Nihil, facere praesentium. Incidunt deleniti quos asperiores placeat
                        autem accusamus ipsam sunt provident.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure nisi velit facilis labore
                        blanditiis officia quidem saepe omnis? Et at earum, illum blanditiis laboriosam quia facere sit
                        quaerat! Libero officia praesentium temporibus quidem voluptatum asperiores, fuga consequatur
                        magni iure eum dolore perferendis. Laboriosam dignissimos eum fugit veritatis perferendis labore
                        veniam voluptatem maiores porro iusto, quaerat expedita consequuntur pariatur quam ullam
                        tenetur, optio eveniet hic amet enim. Nesciunt impedit ipsa porro voluptates nobis?
                        Reprehenderit facere architecto quibusdam libero molestias saepe iste qui ducimus vitae vero,
                        dolore hic voluptatum dignissimos harum. Ab animi expedita numquam debitis eligendi fugit,
                        perspiciatis repudiandae et doloribus!</p>
            </div>
      </div>
</article>