<div class="hh2">
      <div class="hh2-child">
            <h2>ღვინის ისტორია</h2>
      </div>
</div>

<article class="smoothOperator">
      <div class="left-main">

            <div class="left">

            </div>
      </div>

      <div class="right-main">
            <div class="right">

                  <p class="p" style=" font-size: 25px; font-family: 'Courier New', Courier, monospace;"> საქართველო
                        მეღვინეობის უძველესი ქვეყანაა - აქ წარმოიშვა ყურძნის პირველი კულტურული სახეობები. უნიკალური
                        გეოგრაფიული ადგილმდებარეობა და მრავალფეროვანი ნიადაგი იდეალურ პირობებს ქმნის მევენახეობისა და
                        მეღვინეობის განვითარებისათვის.

                        კახეთის მევენახეობის ისტორია ძვ. წ. აღ. VI ათასწლეულიდან იწყება. არქეოლოგების მიერ აღმოჩენილი
                        ყურძნის წიპწები სწორედ ამ ასაკისაა და ისინი უძველესია მსოფლიოში, რაც კიდევ ერთხელ ამტკიცებს, რომ
                        საქართველო - ვაზის სამშობლოა.
                        მეცნიერთა აზრით, თავად სიტყვა - "ღვინო" ("vin", "wine", "vine" და სხვ.) ქართული წარმოშობისაა.
                        მსოფლიოში ცნობილი 2000 ყურძნის ჯიშიდან 500 ქართულია.

                        არქეოლოგიური გათხრებისას აღმოჩენილია ბრინჯაოს ხანის ნაკეთობანი, უძველესი საწნახელები, მარნები,
                        თიხისა და მეტალისგან დამზადებული ღვინის სასმისები და სხვ. აღმოჩენილია ჩვ.წ.-მდე IX-VII სს.
                        დათარიღებული ღვინის მსმელი კაცის ფიგურა, რომელიც აგრეთვე ნაყოფიერების სიმბოლოცაა. ყურადღებას
                        იქცევს ოქროს, ვერცხლისა და ბრინჯაოსაგან დამზადებული ღვინის სასმისები, შემკული ძვირფასი თვლებითა
                        და ვაზის გამოსახულებით..

                        ვაზის კულტურასთან არის დაკავშირებული საქართველოში ქრისტიანული რელიგიის გავრცელება, ვაზის ჯვრით
                        შემოვიდა საქართველოში წმინდა ნინო და იქადაგა ქრისტიანობა. ქართულ ტაძრებს ხშირად ამშვენებს ვაზის
                        გამოსახულებანი.

                        ქართულ ეკლესია-მონასტრებში არსებობდა პრიმიტიული ღვინის ქარხნები, აქ დღესაც შეხვდებით მარნებსა და
                        საწნახელებს. აღსანიშნავია ნეკრესში აღმოჩენილი IV საუკუნის მარანი, იყალთოს სამონასტრო კომპლექსში
                        არსებული ღვინის ქარხნის ნაშთები. ალავერდის კათედრალის ტერიტორიაზე აღმოჩენილია უძველესი
                        ორმოცქვევრიანი მარანი, სამონასტრო ღვინის დამზადების ტრადიცია აქ დღესაც გრძელდება.

                        ყვარლის რაიონში მდებარეობს უნიკალური ღვინის საცავი, რომელიც კლდეში ნაკვეთ გვირაბშია
                        განთავსებული. გვირაბის სიგრძე 13,5 კმ-ს შეადგენს. საცავის წელიწადის ყველა დროს ინარჩუნებს მუდმივ
                        ტემპერატურას 14-დან 16-გრადუსამდე, რაც იდეალურია ღვინის დაძველებისათვის. საცავში დღემდე
                        აძველებენ ქართულ სამარკო ღვინოებს.

                        როგორც ისტორიული, ასევე არქიტექტურული თვალსაზრისით, აღსანიშნავია ალ. ჭავჭავაძის მამულში მდებარე
                        XIX საუკუნეში აგურით ნაგები ენოთეკა თავისი უძვირფასესი ღვინოების კოლექციით. კოლექციის ყველაზე
                        ძველი სასმელი - "პოლონური თაფლი", 1814 წლით თარიღდება.</p>
            </div>
      </div>
</article>