<article>
      <div class="parent">


            <div class="left-side">

            </div>

            <div class="right-side">
                  <div class="story-section">
                        <h2>🍷 Lorem, ipsum.</h2>
                        <p>
                              მომავალშიც, მიუხედავად ზრდისა და განვითარების, ერთს არ შევცვლით – ჩვენი ვენახის სიჩუმეში
                              ჩამოსხმულ ტრადიციას.
                              სწორედ ესაა ჩვენი მთავარი ძალა – გულწრფელი მიდგომა და სიყვარული, რაც თითოეულ ბოთლში
                              იგრძნობა.
                        </p>
                        <p>
                              ვენახები, რომლებიც ჩვენ ვკურირებთ, განლაგებულია საქართველოს ერთ-ერთ ყველაზე სანუკვარ და
                              ისტორიულ რეგიონში,
                              სადაც ბუნების თითოეული წვეთი იძლევა უნიკალურ და მდიდარ არომატს. ჩვენ პატივს ვცემთ ამ
                              ნიადაგს და ვზრუნავთ მის დაცვაზე ისე,
                              როგორც საკუთარ ოჯახზე.
                        </p>
                        <p>
                              რთველის სეზონი ყოველთვის განსაკუთრებულია ჩვენი ოჯახისთვის – ეს არ არის მხოლოდ სამუშაო,
                              არამედ ერთობა, სიმყუდროვე და
                              ურთიერთგაგების დღესასწაული. სტუმრებსაც ვიწვევთ, რომ დააგემოვნონ ჩვენი ღვინო და გააცნონ
                              ჩვენი ტრადიციები, რომლებიც
                              გადაეცემა თაობიდან თაობას.
                        </p>
                        <p>
                              ჩვენი მიზანია ჩვენი ღვინო გახდეს საქართველოს არა მხოლოდ გემო, არამედ მისივე სული, რომელიც
                              იმოგზაურებს მსოფლიოს კუთხე-კუნჭულებში
                              და მოუტანს ხალხს სიხარულს და ერთობას.
                        </p>
                  </div>
            </div>

      </div>
</article>