<article class="art-main">
      <div class="left-side">

            <div class="top-text">
                  <h2>წარმოება</h2>
                  
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv3A73vagii5oq1qzAIoCjdh7Pec_NZRJ6gg&s" alt="" srcset="">
      </div>

      <div class="right-side">

            <div class="top-text">
                  <h2>მარანი</h2>
            </div>
            <img src="https://images.squarespace-cdn.com/content/v1/5d757efc7cccee2f7f90dbbe/1604960694237-Q3DHARPG126YRWQSLYG6/image-asset.jpeg" alt="" srcset="">

      </div>
</article>