<article class="art-main">
      <div class="left-side">

            <div class="hh2">
                  <div class="top-text">
                        <h2>წარმოება</h2>
                  </div>
            </div>
            <img src="https://www.bpn.ge/media/__thumbs__/cover/w762/uploads/2023/08-22/5645e1dbba032-1692686936.jpg" alt="" srcset="">
      </div>

      <div class="right-side">
            <div class="hh2">
                  <div class="top-text">
                        <h2>მარანი</h2>
                  </div>
            </div>

            <img src="https://maranibatumi.ge/files/marani/slide1.jpg" alt="" srcset="">

      </div>
</article>