<main>

      <aside>
            <div class="mainDivSide">
                  <div class="parent2">
                        <p>წითელი</p>
                        <p>თეთრი</p>
                        <p>შავი</p>
                  </div>
            </div>
      </aside>

      <div class="parent">
            <div class="divv" *ngFor="let wine of wines">
                  <div class="card">
                        <img src="{{wine.img}}" alt="" srcset="">
                        <h4>{{wine.name}}</h4>
                        <p class="price">{{wine.price}}.00₾</p>
                  </div>
            </div>
      </div>
</main>