<app-logo>  </app-logo>

<main>
      <aside>
            <div class="mainDivSide">
                  <div class="parent2">
                        <p *ngFor="let type of ['ყველა', 'წითელი', 'თეთრი', 'შავი']"
                              (click)="setFilter(type === 'ყველა' ? null : type)"
                              [class.active]="selectedType === type || (type === 'ყველა' && !selectedType)">
                              {{ type }}
                        </p>
                  </div>
                  <div class="price-filter">
                        <label>ფასის ფილტრი:</label>
                        <input type="number" placeholder="მინ." [(ngModel)]="minPrice">
                        <input type="number" placeholder="მაქს." [(ngModel)]="maxPrice">
                  </div>
            </div>
      </aside>
      
      
      
 
      <div class="parent">
            <div class="divv" *ngFor="let wine of filteredWines">
                  <div class="card">
                        <img [src]="wine.img" alt="">
                        <h4>{{ wine.name }}</h4>
                        <p class="price">{{ wine.price }}.00₾</p>
                        <button class="details-btn" [routerLink]="['/wine-details', wine.id]">See Details</button>
                  </div>
            </div>
      </div>
</main>
