main {
  width: 100%;
  background-color: rgba(124, 124, 124, 0.007);

  .div-img {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-image: url('/wine/ChatGPT Image Jul 11, 2025, 03_56_29 PM.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .dddiv {
    width: 200px;
    height: 150px;
    background-color: rgba(255, 0, 0, 0.5); // ნახევრად გამჭვირვალე წითელი
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 950px) {
  main .div-img {
    height: 50vh;
  }

  main .dddiv {
    width: 120px;
    height: 100px;
  }
}
