main {
      width: 100%;
      background-color: rgba(124, 124, 124, 0.007);
      height: 70vh;

      .div-img {
            width: 100%;
            height: 70vh;
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;

            background-image: url('/wine/logo.png');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            .dddiv {
                  width: 550px;
                  height: 500px;
                  background-position: center;
                  background-color: rgba(92, 92, 92, 0); 
                  margin: 10px;
                  border-radius: 10px;
                  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                  color: white;
                  background-image: url('/wine/grape-wine-1024x683.jpeg');
            }
      }

}

@media (max-width: 950px) {
      main .div-img {
            
      }

      .dddiv {
            display: none;
      }

      main .dddiv {
            width: 120px;
            height: 100px;
      }
}