<main>
      <div class="div-img">
            <div class="dddiv">
                  <p
                        style="font-size: 29px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                        Welcome to the World of Fine Wines
                        At our winery, tradition meets innovation to craft exceptional wines that capture the essence of
                        every grape.
                        Discover our unique collection, learn about our story, and enjoy the ease of ordering your
                        favorite wines online—delivered straight to your door.
                  </p>
            </div>


      </div>
</main>