

<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <h3>Welcome!</h3>
    <p>This pop-up appeared after 2 seconds.</p>
    <button (click)="closePopup()">Close</button>
  </div>
</div>


<app-slider> </app-slider>


<!-- <main>
      <div  class="div-img">

            <div class="rec">
                  <h1 style="color: white;">გიორგაშვილების მარანი</h1>
            </div>

      </div>
</main> -->

<app-article-one> </app-article-one>


<app-article-two> </app-article-two>

<app-article-three> </app-article-three>


