main {
  width: 100%;
  background-color: rgba(124, 124, 124, 0.007);

  .div-img {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;

    background-image: url('https://sdmntprwestus.oaiusercontent.com/files/00000000-4d30-6230-96cb-89764eddcd8d/raw?se=2025-07-12T10%3A54%3A30Z&sp=r&sv=2024-08-04&sr=b&scid=3d9b8d9e-37fd-5cc8-9be2-4fab5513a873&skoid=5cab1ff4-c20d-41dc-babb-df0c2cc21dd4&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-12T00%3A52%3A04Z&ske=2025-07-13T00%3A52%3A04Z&sks=b&skv=2024-08-04&sig=uG2RVwJq0xRpJUa0JzFjrAmH/x1mr8KXyHqnoo651dE%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .dddiv {
    width: 550px;
    background-color: rgba(92, 92, 92, 0); // ნახევრად გამჭვირვალე წითელი
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
  }
}

@media (max-width: 950px) {
  main .div-img {
    height: 50vh;
  }

  main .dddiv {
    width: 120px;
    height: 100px;
  }
}
